osm-doc-java/src/main/resources/schema/osm-doc-part.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://map.osm.me/osm-doc-part"
	xmlns:osmdoc="http://map.osm.me/osm-doc-part" xmlns:xi="http://www.w3.org/2001/XInclude"
	elementFormDefault="qualified">

	<import namespace="http://www.w3.org/2001/XInclude" />

	<element name="doc-part">
		<complexType>
			<sequence>
				<element ref="osmdoc:feature" minOccurs="0" maxOccurs="unbounded" />
				<element ref="osmdoc:trait" minOccurs="0"  maxOccurs="unbounded" />
				<element ref="osmdoc:hierarchy" minOccurs="0" maxOccurs="unbounded" />

				<element ref="osmdoc:group" minOccurs="0" maxOccurs="unbounded" />
				<element ref="osmdoc:fref" minOccurs="0" maxOccurs="unbounded" />

			</sequence>
		</complexType>
	</element>

	<element name="feature" type="osmdoc:feature" />

	<complexType name="feature">
		
		<annotation>
			<documentation>
				Основной элемент описывающий определенный тип объектов в OSM.
				
				Main element which describes particular OSM type. 				
			</documentation>
		</annotation>
	
		<sequence>
			<group ref="osmdoc:titleDescription" />

			<element name="keyword" type="osmdoc:langString" minOccurs="0" maxOccurs="unbounded" >
				<annotation>
					<documentation>
						Ключевые слова используемые для поиска объектов данной категории.
						
						Keywords set, useful for search.						
					</documentation>
				</annotation>
			</element>
			
			<element ref="osmdoc:tags" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Теги по которым определяется принадлежность объекта осм данному типу.
						Например:
						
						Those tags describes how to select features, or how to say, is 
						any particular osm feature matches described osm-docc type.
						For example:
						
						[tags]
							[tag]
								[tag]some-key[/tag]
							[/tag]
							[tag]
								[tag]another-key[/tag]
								[val value="some-value"/]
							[/tag]
						[/tags]
						
						В данном примере будут выбраны все объекты с тегом 'some-key' вне зависимости
						от значения, и тегом 'another-key' со значением 'some-value'.
						Т.е. элементы tag внутри элемента tags объединяются через 'И'.
						
						In this example all objects with tag 'some-key' and 'another-key' with value 'some-value'
						will be selected. Tag value for 'some-key' doesn't matters.
						'tag' elements inside 'tags' element combined via 'AND'. 
						
						Количество элементов 'tags' не ограничено. Элементы 'tags' объединяются через ИЛИ.
						Тоесть для описания:
						
						Number of 'tags' elements are unbounded. All 'tags' are combined via 'OR'.
						So for this declaration:
						
						[tags deprecated="true"]
							[tag]
								[tag]shop[/tag]
								[val value="car_repair"/]
							[/tag]
						[/tags]
						[tags]
							[tag]
								[tag]craft[/tag]
								[val value="car_repair"/]
							[/tag]
						[/tags]
						
						В выборку попадут как shop=car_repair так и craft=car_repair.
						При этом, deprecated="true" указывает какую комбинацию тегов использовать
						при записи данных (например в персетах JOSM)
						
						shop=car_repair and craft=car_repair will be selected.
						And deprecated="true" specifys which tags combination
						will be used for writing (in JOSM presets for eg.)  
					</documentation>
				</annotation>
			</element>
			
			<element name="trait" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Ссылка на trait'ы данного типа.
						Trait - набор тегов, не привязанный к опередленному типу.
						Теги trait'ов интерпретируются так же как more-tags.		
					</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="group-tags" type="boolean" use="optional" />
						</extension>
				    </simpleContent>
				</complexType>
			</element>
				
			<element ref="osmdoc:more-tags" minOccurs="0" >
				<annotation>
					<documentation>
						Дополнительные теги объекта. Такие как например кухня для ресторана.					    
					</documentation>
				</annotation>
			</element>	
			<group ref="osmdoc:iconsWikiNote" />
			<element name="applyed-to" type="osmdoc:applyedTo" />
		</sequence>
		<attribute name="name" type="string" use="required" />
	</complexType>


	<element name="hierarchy">
		<complexType>
			<sequence>
				<element ref="osmdoc:group" minOccurs="0" maxOccurs="unbounded" />
				<element ref="osmdoc:fref" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
			<attribute name="name" />
		</complexType>
	</element>

	<element name="group">
		<complexType>
			<sequence>
				<group ref="osmdoc:titleDescription" />
				<group ref="osmdoc:iconsWikiNote" />
				<element ref="osmdoc:group" minOccurs="0" maxOccurs="unbounded" />
				<element ref="osmdoc:fref" minOccurs="0" maxOccurs="unbounded" />
				<element name="seeAlso" type="osmdoc:references" minOccurs="0" maxOccurs="1"/>
			</sequence>
			<attribute name="name" />
			<attribute name="merged" type="boolean" />
		</complexType>
	</element>

	<element name="fref">
		<complexType>
			<sequence>
				<element name="seeAlso" type="osmdoc:references" minOccurs="0" maxOccurs="1"/>
			</sequence>
			<attribute name="ref" use="required" type="string" />
		</complexType>
	</element>
	
	<complexType name="references">
		<sequence>
			<element name="group" type="string" minOccurs="0" maxOccurs="unbounded" />
			<element name="feature" type="string" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<element name="trait">
		<complexType>
			<sequence>
				<group ref="osmdoc:titleDescription" />
				<element name="extends" type="string" minOccurs="0"
					maxOccurs="unbounded" />
				<element ref="osmdoc:more-tags" minOccurs="0"/>
			</sequence>
			<attribute name="name" type="string" use="required" />
			<attribute name="group-tags" type="boolean" use="optional" default="false" />
		</complexType>
	</element>

	<group name="iconsWikiNote">
		<sequence>
			<element name="icon" minOccurs="0" maxOccurs="unbounded"
				type="string" />
			<element name="wiki" type="string" minOccurs="0" maxOccurs="unbounded" />
			<element name="note" type="string" minOccurs="0" maxOccurs="1" />
		</sequence>
	</group>

	<group name="titleDescription">
		<sequence>
			<element name="title" type="string" />
			<element name="description" minOccurs="0" type="string" />
		</sequence>
	</group>
	
	<complexType name="langString">
		<simpleContent>
			<extension base="string">
				<attribute name="lang" type="string" use="optional"	/>
			</extension>
		</simpleContent>
	</complexType>
	
	<element name="tags">
		<complexType>
			<sequence>
				<element ref="osmdoc:tag" minOccurs="1" maxOccurs="unbounded" />
			</sequence>
			<attribute name="deprecated" type="boolean" use="optional"
				default="false" />
		</complexType>
	</element>

	<element name="more-tags">
		<complexType>
			<sequence>
				<element ref="osmdoc:tag" minOccurs="0" maxOccurs="unbounded" />
				<element ref="osmdoc:choise" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	
	<element name="choise">
		<complexType>
			<sequence>
				<element ref="osmdoc:tag" minOccurs="1" maxOccurs="unbounded" />
			</sequence>
			<attribute name="primary-key" type="string" use="optional" />
		</complexType>
	</element>

	<element name="tag">
		<complexType>
			<sequence>
				<group minOccurs="0" ref="osmdoc:titleDescription" />
				<element name="key" type="osmdoc:keyType"/>
				<element name="val" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<group minOccurs="0" ref="osmdoc:titleDescription" />
							<element minOccurs="0" maxOccurs="unbounded" name="keyword" type="osmdoc:langString">
								<annotation>
									<documentation>
										Набор ключевых слов по которым будет осуществлятся поиск
										ПОИ, добавляются для совпавших значений тегов.
										
										Например, для cuisine=chineeze, для РФ - суши, роллы.
										
										lang теперь не обязателен, если он указан, то keyword
										трактуется как специфический для определенного языка.
										
										Внутри keyword поддерживается L10n. префиксы для
										интернационализации.
									</documentation>
								</annotation>
							</element>
						</sequence>
						<attribute name="value" use="required" >
							<annotation>
								<documentation>
									Шаблон значения тега.								
								</documentation>
							</annotation>
						</attribute>
						<attribute ref="osmdoc:match" use="optional" >
							<annotation>
								<documentation>
									Каким образом значение указанное в описании (в osm-doc)
									сравнивается со значением в тегах объекта.								
								</documentation>
							</annotation>
						</attribute>
						<attribute name="group-by-value" type="boolean" default="true" use="optional">
							<annotation>
								<documentation>
									Пригодность значений тега для группировки объектов.
									Например, объекты с одинаковым значением brand могут встречатся часто
									в то время как объекты с одинаковым name - редко.
									name - высокоселективен, brand - наоборот низкоселективен, и потому
									хорошо подходит для группировки объектов по значению тега.
								</documentation>
							</annotation>
						</attribute>
						<attribute name="use-as-keyword" type="boolean" default="true" use="optional">
							<annotation>
								<documentation>
									Использовать ли перевод значения тега как keyword для тех пои, для
									которых эта комбинация тегов была сопоставлена.
								</documentation>
							</annotation>
						</attribute>
						<attribute name="default" type="boolean" use="optional">
							<annotation>
								<documentation>
									Использовать как значение по умолчанию для тегов, 
									с разбром значений. (Boolean) например.
								</documentation>
							</annotation>
						</attribute>
					</complexType>
				</element>
			</sequence>
			<attribute ref="osmdoc:tag-value-type" use="optional" />
			<attribute name="exclude" type="boolean" default="false" />
		</complexType>
	</element>

	<simpleType name="applyedTo">
		<restriction>
			<simpleType>
				<list>
					<simpleType>
						<restriction base="string" >
							<enumeration value="node" />
							<enumeration value="area" />
							<enumeration value="way" />
							<enumeration value="relation" />
							<enumeration value="relation-member" />
						</restriction>
					</simpleType>
				</list>
			</simpleType>
			<minLength value="1" />
		</restriction>
	</simpleType>

	<complexType name="keyType">
		<simpleContent>
			<extension base="string">
				<attribute use="optional" ref="osmdoc:match" />
			</extension>
		</simpleContent>
	</complexType>

	<attribute name="match" default="exact">
		<simpleType>
			<restriction base="string">
				
				<enumeration value="any">
					<annotation>
						<documentation>No actual checking for value, except "no"</documentation>
					</annotation>
				</enumeration>
				
				<enumeration value="exact">
					<annotation>
						<documentation>Exactly match (deaflult)</documentation>
					</annotation>
				</enumeration>
				
				<enumeration value="with-namespace">
					<annotation>
						<documentation>Match with namespace prefix/postfix ru:urban</documentation>
					</annotation>
				</enumeration>
				
				<enumeration value="contains">
					<annotation>
						<documentation>Check is value of tag substring of object tag value</documentation>
					</annotation>
				</enumeration>
				
				<enumeration value="regexp">
					<annotation>
						<documentation>This is regexp pattern</documentation>
					</annotation>
				</enumeration>
				
			</restriction>
		</simpleType>
	</attribute>

	<attribute name="tag-value-type" default="anyString">
		<simpleType>
			<restriction base="string">
				
				<enumeration value="anyString" >
					<annotation>
						<documentation>Any string without restrictions</documentation>
					</annotation>
				</enumeration>

				<enumeration value="enum" >
					<annotation>
						<documentation>Possible values and their translations are restricted by val tags</documentation>
					</annotation>
				</enumeration>
				
				<enumeration value="measure" >
					<annotation>
						<documentation>Measured value. As 100mph</documentation>
					</annotation>
				</enumeration>
				
				<enumeration value="number" >
					<annotation>
						<documentation>Any number</documentation>
					</annotation>
				</enumeration>
				
				<enumeration value="openHours" >
					<annotation>
						<documentation>Open hours string.</documentation>
					</annotation>
				</enumeration>
				
				<enumeration value="phone" >
					<annotation>
						<documentation>Phone number string</documentation>
					</annotation>
				</enumeration>
				
				<enumeration value="mail" >
					<annotation>
						<documentation>Email string</documentation>
					</annotation>
				</enumeration>
				
				<enumeration value="url" >
					<annotation>
						<documentation>Url. Like http://flick.com/12345657</documentation>
					</annotation>
				</enumeration>
				
				<enumeration value="wiki" >
					<annotation>
						<documentation>Wiki link: ru:Екатеринбург</documentation>
					</annotation>
				</enumeration>
				
				<enumeration value="boolean" >
					<annotation>
						<documentation>yes/no, true/false, 1/0</documentation>
					</annotation>
				</enumeration>
				
				<enumeration value="period" >
					<annotation>
						<documentation>Eg. 18:00-19:30</documentation>
					</annotation>
				</enumeration>

				<enumeration value="date" >
					<annotation>
						<documentation>Eg. 2014-11-04</documentation>
					</annotation>
				</enumeration>
			</restriction>
		</simpleType>
	</attribute>
	
</schema>